{{- if (eq .Params.sub "events")  -}}
{{- $startDate :=  dateFormat "January 2, 2006" .Params.eventdate  -}}
{{- $endDate :=  dateFormat "January 2, 2006" .Params.enddate  -}}
{{- $day := dateFormat "Monday" .Params.eventdate  -}}
{{- $month := dateFormat "January" .Params.eventdate  -}}
{{- $daydate := dateFormat "02" .Params.eventdate  -}}
<article class="slds-card">
    <div class="slds-grid slds-wrap slds-p-around_medium slds-gutters">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_9-of-12">
          <div class="slds-grid slds-wrap slds-gutters">
              <div class="slds-media__figure slds-m-left_small slds-m-bottom_small">
                <div class="slds-text-align_center" style="width: 105px;">
                    <div class="slds-box slds-box_xx-small slds-has-bottom-magnet slds-text-title_caps slds-theme_success slds-color__text_gray-1" style="border:2px solid #04844B;">
                    <div><b>{{ $month }}</b></div>
                    </div>
                    <div class="slds-box slds-box_xx-small slds-has-top-magnet slds-text-color_success" style="border:2px solid #04844B;">
                    <div class="slds-text-heading_large"><b>{{ $daydate }}</b></div>
                    </div>
                </div>
               </div>
              <div class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_10-of-12">
                <h2 class="slds-text-heading_medium slds-m-bottom_small" style="font-weight: 700; font-size: 24px;line-height: 26px;"><a href="{{ .Permalink }}"><b>{{ .Title }}</b></a></h2>
                    <div class="slds-m-bottom_small">
                        {{- if eq $startDate  $endDate  -}}
                            <p class="slds-text-heading_small slds-m-bottom_x-small">
                            <span class="slds-icon_container">
                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_x-small" aria-hidden="true">
                                <use xlink:href="/icons/utility-sprite/svg/symbols.svg#event"></use>
                                </svg>
                                </span>{{- $endDate -}}<span class=" slds-m-left_xx-small event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.eventdate }}" style="font-size:12px!important;" 
                                data-enddate="{{ dateFormat "01/02/2006" .Params.enddate }}"></span>
                            </p>
                        {{- else -}}
                        {{- if eq (dateFormat "2006" .Params.eventdate) (dateFormat "2006" .Params.enddate)  -}}
                        <p class="slds-text-heading_small slds-m-bottom_x-small">
                            <span class="slds-icon_container">
                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_x-small" aria-hidden="true">
                                <use xlink:href="/icons/utility-sprite/svg/symbols.svg#event"></use>
                                </svg>
                                </span>{{ dateFormat "January 2" .Params.eventdate  }}&nbsp;to&nbsp;{{ $endDate  }}<span class=" slds-m-left_xx-small event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.eventdate }}" style="font-size:12px!important;" 
                                data-enddate="{{ dateFormat "01/02/2006" .Params.enddate }}"></span>
                            </p>
                        {{- else -}}
                        <p class="slds-text-heading_small slds-m-bottom_x-small">
                            <span class="slds-icon_container">
                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_x-small" aria-hidden="true">
                                <use xlink:href="/icons/utility-sprite/svg/symbols.svg#event"></use>
                                </svg>
                                </span>{{ $startDate  }}&nbsp;to&nbsp;{{ $endDate  }}<span class="slds-m-left_xx-small event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.eventdate }}" style="font-size:12px!important;" 
                                data-enddate="{{ dateFormat "01/02/2006" .Params.enddate }}"></span>
                            </p>
                        {{- end -}}
                        {{- end -}}

                            <p class="slds-text-heading_small slds-m-bottom_x-small">
                            <span class="slds-icon_container">
                            <svg class="slds-icon slds-icon-text-default slds-icon_xx-small slds-m-right_x-small" aria-hidden="true">
                            <use xlink:href="/icons/utility-sprite/svg/symbols.svg#checkin"></use>
                            </svg>
                        </span>{{ .Params.location }}</p>
                    </div>
                {{- $eventdate := (dateFormat "2006-01-02" .Params.eventdate) | time -}}
                {{- if ge $eventdate.Unix now.Unix   -}}
                {{- with  .OutputFormats.Get "Calendar" -}}
                    <div class="slds-clearfix slds-m-bottom_small">
                        <div class="slds-float_right">
                        <a href="{{ .Permalink | safeURL }}"><button class="slds-button slds-button_outline-brand slds-p-around_small">
                            <svg class="slds-button__icon slds-icon_x-small slds-m-right_x-small" aria-hidden="true">
                            <use xlink:href="/icons/utility-sprite/svg/symbols.svg#event"></use>
                            </svg><span style="font-size: 14px;line-height: 14px;">Add to Calender</span></button></a>
                        </div>
                    </div>
                {{- end -}}
                {{- end -}}
             </div>
           </div>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_3-of-12">
        <a href="#."><img src="/images/noimage.jpg" style="height:145px; object-fit: cover; border-radius: 5px;"></a>
        </div>
    </div>
</article>
{{- end -}}