<!-- footer > starts > -->
<footer class="slds-p-vertical_large slds-border_top" style="background: #2a416a; border-top: 10px solid #6c8ecc; color: #6c8ecc;">
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
    <input type="hidden" name="searchKeyValue" value="" id="searchKeyValue">
    <article class="slds-p-top_large slds-p-bottom_large">
      <div class="slds-m-bottom_small slds-m-top_large">
        <div class="slds-grid slds-gutters slds-wrap">
          <div class="slds-col slds-size_1-of-1 slds-small-size_6-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12">
            <p class="slds-m-bottom_x-large">
              <a href="/"><img src="/images/logo-footer.png" alt="Unblock Health" width="170" height="41"></a>
            </p>
            <p class="slds-text-body_small" style="color: #6c8ecc;">
              Unblock Health is a first-in-class, comprehensive suite of patient advocacy services designed for patients and consumers who are determined to be empowered in their health care journey and are no longer willing to accept traditional barriers to their information.
            </p>
            <hr class="slds-m-top_x-large slds-m-bottom_x-large" style="height: 0px; border-color: #6c8ecc;">

            <p class="slds-text-align_center" style="color: #6c8ecc;"><b>Brought to you by</b></p>
            <div class="slds-grid slds-grid_align-center">
              <div class="slds-clearfix slds-m-bottom_xx-small">
                <div class="slds-float_left non-authenticated-section slds-text-align_center slds-m-horizontal_small">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large slds-color__background_gray-1">
                    <img alt="Grace" src="/images/grace.png" title="Grace">
                  </span>
                  <p class="slds-m-top_xx-small slds-text-body_small"><a href="#." style="color:#6c8ecc;" target="_blank" title="Link to shahidshah.com"><i>@GraceCordovano</i></a></p>
                </div>
                <div class="slds-float_left non-authenticated-section slds-text-align_center slds-m-horizontal_small">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large slds-color__background_gray-1">
                    <img alt="Shahid Sha" src="/images/shahid-sha.png" title="Shahid Sha">
                  </span>
                  <p class="slds-m-top_xx-small slds-text-body_small"><a href="#." style="color:#6c8ecc;" target="_blank" title="Link to shahidshah.com"><i>@ShahidNShah</i></a></p>
                </div>
                
              </div>
            </div>
          </div>
          <div class="slds-col slds-size_1-of-1 slds-small-size_6-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12">
            <h3 class="slds-text-heading_medium slds-m-bottom_large" style="font-size: 24px; font-weight: 400; line-height: 24px;color: #6c8ecc;">
              #UnblockHealth
            </h3>
            <p>
              <img src="/images/unblock-twitter-widget.jpg" alt="" width="354">
            </p>
            
            
          </div>
          <div class="slds-col slds-size_1-of-1 slds-small-size_12-of-12 slds-medium-size_4-of-12 slds-large-size_4-of-12">
            <h3 class="slds-text-heading_medium medium" style="font-size: 24px; font-weight: 400; color: #6c8ecc;">
              Contact Us
            </h3>
            <aside>
              <div class="slds-form-element">
                <div class="slds-form-element__control slds-m-bottom_medium">
                  <input type="text" id="form-element-01" placeholder="Name*" class="slds-input slds-p-vertical_x-small"/>
                </div>
                <div class="slds-form-element__control slds-m-bottom_medium">
                  <input type="text" id="form-element-02" placeholder="Email Address*" class="slds-input slds-p-vertical_x-small"/>
                </div>
                <div class="slds-form-element__control slds-m-bottom_medium">
                  <input type="text" id="form-element-03" placeholder="Subject*" class="slds-input slds-p-vertical_x-small"/>
                </div>
                <div class="slds-form-element__control slds-m-bottom_medium">
                  <textarea id="form-element-01" placeholder="Subject*" class="slds-input slds-p-vertical_x-small" style="min-height:138px;"></textarea>
                </div>
                <button class="slds-button slds-button_brand slds-button_stretch slds-p-vertical_small slds-p-horizontal_medium slds-color__text_gray-1">
                  <span class="slds-text-body_small slds-text-title_caps slds-color__text_gray-1"><b>Send</b></span></button>
              </div>
            </aside>
            
          </div>
        </div>
      </div>
    </article>
    <hr class="slds-color__border_gray-8 slds-m-top_small slds-m-bottom_large" style="height: 0px; border-color: #6c8ecc!important;">
    <article class="slds-text-align_center slds-p-top_small slds-p-bottom_x-large">
      <aside>
        <ul class="slds-grid slds-grid_align-center slds-list_horizontal slds-has-inline-block-links slds-text-heading_small" style="font-size:18px;flex-wrap: wrap;">
          {{- $context := .context -}}
          {{- if $context.Site.Params.footerNavbarMenu -}}
          {{- $count := 1 -}}
          {{- range $elem_index, $footerMenu := $context.Site.Params.footerNavbarMenu -}}
          {{- $upcount := add $count $elem_index -}}
          {{- with $context.Site.Params.footerNavbarMenuLink -}}
          {{- $path := index . $elem_index -}}
          {{- $path_url := path.Join $context.Site.Params.hostName $path -}}
          <li><a href="{{ $context.Site.BaseURL }}{{ $path_url }}" id ="{{ $footerMenu | urlize }}" class="slds-p-horizontal_small slds-p-vertical_xx-small" style="color: #6c8ecc;"><b>{{ $footerMenu }}</b></a></li>
          {{- end -}} {{- end -}} {{- end -}}
          </ul>
        </aside>
      
      <p class="slds-text-body_small" style="line-height: 18px; color: #6c8ecc;">
        Comprehensive Healthcare Suite of Patient Advocacy Services Designed for Patients and Consumers - Unblock Health | Copyright © 2023. All Rights Reserved.
      </p>

    </article>
  </div> 
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<!-- footer < ends < -->
<script>
$(document).ready(function () {
$("#register-btn").click(function(){
  window.location.href="/register";
});
});
</script>
