<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unblock Health</title>
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.14.2/styles/salesforce-lightning-design-system.min.css" integrity="sha512-v9eTZELqSZcRlIRltjIbpM55zkTQ9azkDAjI0IByyjHLWty1U2+CSPtnNxGpC3FFkpsKwAOfciCv4PWhW/pQGw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/salesforce-lightning-custom.css">
</head>
<body>
<section>
  {{ $context := . }}
  {{- partialCached "head" (dict "activeMenu" "Home" "context" $context ) "home-page-key" -}}  
   
<article style="background:#3b4862;" class="slds-p-vertical_medium">  
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

 <!-- hero > starts > --> 
 <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large slds-grid_vertical-align-center">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside class="slds-text-align_center"><iframe src="https://player.vimeo.com/video/768526940?h=6cfe3931ee" width="100%" height="440" frameborder="0" allow="autoplay; fullscreen;" allowfullscreen></iframe></aside>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
  <aside class="slds-m-left_medium">
    <h1 class="slds-color__text_gray-1" style="font-size: 48px; line-height:56px; font-weight: 700!important;">The Future Of Patient Access Workflow Is Here</h1>
    <p class="slds-color__text_gray-1" style="font-size: 23px; line-height:34px;">Improve Information-Sharing With
Our Patient Access Workflow Services</p>

  </aside>
  </div>
  
</article>
</article>
<!-- hero < ends < -->     
 
 <!-- content 1 > starts > --> 
 <section style="background:#F4F8FF;" class="slds-p-vertical_medium">  
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
 <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside>
      <h1 style="font-size: 48px; line-height:56px; font-weight: 700!important;">Unblock Health is the EASY button every patient needs</h1>
      <p style="font-size: 23px; line-height:34px;">Unblock Health provides a suite of digital tools that transform traditionally time-consuming tasks.</p>
      <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_brand slds-p-around_medium slds-color__text_gray-1 slds-m-bottom_small">
          <span class="slds-text-heading_medium"><b>Register for an Invitation as a Patient Advocate</b></span></button></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_outline-brand slds-p-around_medium slds-m-bottom_small">
          <span class="slds-text-heading_medium"><b>Register for an Invitation as a Hospital HIM</b></span></button></div>
      </div>
    </aside>
    </div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <aside class="slds-text-align_center"><img src="/images/hero-diagram.svg" alt="" width="500"></aside>
    </div>
  </article>
 <!-- content 1 < ends < -->  
</div>
</section>  

    <!-- main starts > -->
    <main>     

  <!-- Patient Impact Stories -->
  <article class="slds-p-vertical_x-large slds-color__background_gray-1">   
    <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small slds-m-top_large">
      <p style="font-size: 23px; line-height:33px;" class="slds-text-align_center slds-p-bottom_small">Patients and their families need easy access to their health information. Check out the Patient Impact Stories library for real stories of harm that happens when patients DON'T have access to their records and good that happens when they DO.</p>
      <aside class="slds-grid slds-wrap slds-gutters slds-text-align_center">
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-1.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Stress & Labor</p></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-2.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Suffering</p></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-3.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Harm & Benefit</p></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-4.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Stress and Labor</p></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-5.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Delay and Suffering</p></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
        <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-6.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
        <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Prevents Complications</p></a>
        </div>
      </aside> 
      </div> 
    </article>

  

<!-- About -->   
<article class="slds-p-vertical_x-large" style="background: #F4F8FF;">
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small slds-p-top_x-large">
  
 <aside class="slds-container_x-large slds-container_center slds-text-align_center slds-p-horizontal_xx-large slds-m-bottom_x-large">
 <h3 style="font-size:35px; line-height:45px;">We've listened to patients' frustrations and witnessed the barriers they face in accessing their data. We know first-hand the grief, loss, anxiety, and distrust that stems from data blocking.
</h3>  
<p style="font-size: 20px; line-height:30px;">Unblock Health, which is FHIR native and fully integratable, is strategically designed to:</p>
</aside>
 
 <aside class="slds-grid slds-wrap slds-gutters slds-p-top_large slds-grid_vertical-align-center">
   <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
     <div class="slds-p-around_medium">      
     <ul class="slds-list_dotted">
       <li class="slds-m-bottom_small">Hold healthcare organizations accountable when they do not release medical records in a timely, HIPAA compliant manner, while carefully tracking the often intricate, multi-faceted process of interactions needed, reporting both violations and access champions in the public domain.</li>
       <li class="slds-m-bottom_small">Request patient-generated health data (PGHD) from mhealth & digital health tech devices and apps.</li>
       <li class="slds-m-bottom_small">Request an itemized list of all the places that one's health information has been “shared” or sold to facilitate transparency and awareness of human data science practices.</li> 
       <li class="slds-m-bottom_small">To facilitate a digital workflow for the implementation of addendums that may be flagged by patients and carepartners upon review of their medical records and health information.</li> 
       </ul>
       <p class="slds-text-align_right"><a href="#."><b>Read More</b></a></p>
       </div>
   </div>
   
   <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
     <div class="slds-p-around_medium">
     <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/app-screen-1.png" alt="" width="" height=""></div>
   </div>
   
 </aside>  
 
  </div> 
 </article>   

 <section class="slds-p-vertical_x-large slds-color__background_gray-1">
  <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
    <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">Unblock Health is revolutionizing patient autonomy and healthcare consumerism</h2>  
    <h3 class="slds-container_medium slds-container_center" style="font-size: 26px; line-height: 34px;">Unblock Health is a suite of services, which is FHIR native and fully integratable, strategically designed to:</h3>
    <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
        <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/about-content-image-2.png" alt="" width="" height=""></div>
      </div>
    </div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium slds-text-align_left">      
          <ul>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Request patient-generated health data (PGHD) from mhealth & digital health tech devices and apps.</li>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
              Request an itemized list of all the places that one's health information has been “shared” or sold to facilitate transparency and awareness of human data science practices.</li>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
              To facilitate a digital workflow for the implementation of addendums that may be flagged by patients and carepartners upon review of their medical records and health information.</li> 
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Provide patients and carepartners with a way to level the playing field and demand access to the critical information needed to make informed, engaged, and empowered decisions about their care.</li> 
            </ul>

        </div>
      </div>
  </aside> 
  <div class="slds-text-align_center"></div>
  </article>
</section>

<!-- partners -->   
  <article class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small slds-m-top_xx-large slds-m-bottom_xx-large slds-text-align_center">
    <h3 class="slds-m-bottom_xx-large" style="font-size:35px; line-height:45px; font-weight: 700; text-transform: uppercase;">Partners & Supporters of Unblock Health</h3>  
    <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
      <a href="#."><img src="/images/partners-logo-1.png" alt="" height="95"></a>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
        <a href="#."><img src="/images/partners-logo-2.png" alt="" height="95"></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
          <a href="#."><img src="/images/partners-logo-3.png" alt="" height="95"></a>
          </div>
      </aside>  
  </article>

  <!-- testimonials -->   
  <article class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small slds-p-top_small slds-m-top_xx-large slds-m-bottom_xx-large slds-p-bottom_large">
    <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_small">
        <div class="slds-box slds-color__background_gray-1" style="padding:30px; border-radius: 0px;box-shadow: 3px 3px 12px #ddd;">
          <p class="slds-m-bottom_large" style="font-size:23px; line-height:35px;">"Unblock Health is a first-in-class, comprehensive suite of patient advocacy services designed for patients and consumers."</p>
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_12-of-12 slds-small-size_8-of-12 slds-m-bottom_xx-small">
              <div class="slds-clearfix slds-m-bottom_xx-small">
                <div class="slds-float_left">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                    <img alt="Person name" src="/images/avatar.jpg" title="">
                    </span>
                </div>
                <div class="slds-float_left slds-text-body_small slds-m-left_small slds-m-top_xx-small" style="line-height: 18px;width:74%;">
                  <b class="slds-text-heading_small">Alex John</b><br> <span style="font-size:13px;">Founder & Head of Product</span>
                </div>
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_xx-small slds-text-align_right">
              <a href="#."><img src="/images/testim-logo-1.jpg" alt="" height="50"></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_small">
        <div class="slds-box slds-color__background_gray-1" style="padding:30px; border-radius: 0px;box-shadow: 3px 3px 12px #ddd;">
          <p class="slds-m-bottom_large" style="font-size:23px; line-height:35px;">"Unblock Health is ready to unlock barriers standing in the way of real-world interoperability, meaningful patient empowerment, open data access."</p>
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_12-of-12 slds-small-size_8-of-12 slds-m-bottom_xx-small">
              <div class="slds-clearfix slds-m-bottom_xx-small">
                <div class="slds-float_left">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                    <img alt="Person name" src="/images/avatar.jpg" title="">
                    </span>
                </div>
                <div class="slds-float_left slds-text-body_small slds-m-left_small slds-m-top_xx-small" style="line-height: 18px;width:74%;">
                  <b class="slds-text-heading_small">Leona Max</b><br> <span style="font-size:13px;">Director, Customer Support &
                    Experience</span>
                </div>
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_xx-small slds-text-align_right">
              <a href="#."><img src="/images/testim-logo-2.jpg" alt="" height="50"></a>
            </div>
          </div>
        </div>
      </div>
      </aside>  
  </article>

<!-- bottom content -->
<article class="slds-p-top_xx-large slds-p-bottom_large  slds-color__background_gray-1">
  <div class="slds-container_fluid slds-container_center slds-p-left_small slds-p-right_small">
<div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-m-left_large">
  <aside class="slds-m-bottom_large">
    <h2 style="font-size: 44px; line-height:50px; color: #6c8ecc;">Discover More Features And See How Unblock Health App Works.</h2>
    <p style="font-size: 20px; line-height:30px;">The future of patient access to health information and patient satisfaction will only get faster-paced. Unblock Health is ready to help HDOs, providers, and physicians meet patients at life-speed</p>
  </aside>
  <aside class="slds-form-element slds-m-bottom_xx-large">
      <div class="slds-form-element__control">
      <button class="slds-button slds-button_brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1">
        <span class="slds-text-body_small" style="font-size:22px;"><b>Book a demo</b></span></button>
      </div>
  </aside>
  <aside class="slds-p-bottom_xx-large"> 
    <div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_xx-small slds-border_right">
        <div class="slds-m-right_small">
        <div class="slds-grid slds-wrap slds-gutters">
          <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
          <a href="#."><img src="/images/home-blog-thumb-1.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
          </div>
          <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
            <a href="#."><img src="/images/home-blog-thumb-2.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
            </div>
            <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
              <a href="#."><img src="/images/home-blog-thumb-3.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
              </div>
            </div>
            </div>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_xx-small">
        <div class="slds-m-bottom_xx-small slds-m-left_small">
        Want a tour of Unblock Health blog? <br>
    <a href="#."><b>Read our blog</b><span class="slds-icon_container slds-icon-utility-chevronright slds-current-color slds-m-left_x-small" title="">
      <svg class="slds-icon slds-icon_xx-small slds-color__fill_gray-8" aria-hidden="true">
      <use xlink:href="/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
      </svg>
      </span></a> 
      </div>
      </div>
    </div>
  </aside>
  </div>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside class="slds-text-align_right"><img src="/images/unblock-screen.png" alt="" ></aside>
  </div>
</div>
</div>
</article>

  </main>
  <!-- main < ends < -->
 <!-- footer > starts > -->
 {{- partialCached "footer" (dict "activeMenu" "Home" "context" $context) "home-page-key" -}} 
 <!-- footer < ends < -->
</section> 

</body>
</html>