<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unblock Health</title>
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">    
    <link rel="stylesheet preload" as="style"  href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.14.2/styles/salesforce-lightning-design-system.min.css" integrity="sha512-v9eTZELqSZcRlIRltjIbpM55zkTQ9azkDAjI0IByyjHLWty1U2+CSPtnNxGpC3FFkpsKwAOfciCv4PWhW/pQGw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/salesforce-lightning-custom.css">
</head>
<body>
<section>
  <article>  
    <header class="slds-container_x-large slds-container_center slds-p-horizontal_small">
    <!-- top > starts > --> 
    {{ $context := . }}
    {{- partialCached "head" (dict "activeMenu" "FAQs" "context" $context ) "faqs-page-key" -}}  
  <!-- top < ends < -->  
    </header>
  </article>  

<!-- main starts > -->
<main>
  <section class="slds-color__background_gray-1 slds-p-vertical_x-large">  
  <div class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-p-top_none">
    <h1 style="font-size: 40px; line-height: 50px;font-weight: 700;">FAQ</h1>
    <article>
      {{.Content | safeHTML}} 
    </article>
  </div>
</section>
</main>
<!-- main < ends < -->
<!-- footer > starts > -->
{{- partialCached "footer" (dict "activeMenu" "FAQs" "context" $context) "faqs" -}} 
<!-- footer < ends < -->
</section>
</body>
</html>